<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=">
    <title></title>
    <style>
        *{
            margin: 0px;
            padding: 0px;
        }
        #iframe{
            height: 99vh;
            width: 100vw;
        }
    </style>
</head>
<body>
    <iframe src="https://geekprank.com/hacker/" frameborder="0" id="iframe"></iframe>
</body>
</html>