<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <style>
    
    * {
      padding: 0px;
      margin: 0px;
    }

    body {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fafafa;
    }

  </style>
</head>
<body>
  <section id="phone">
    <img src="../static/instaphone.png" alt="">
    <div id="login">
      <img src="../static/instagram.JPG" alt="">
    </div>
  </section>
</body>
</html>